name: Deploy to EKS

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Login to Amazon ECR
      run: |
        aws ecr get-login-password --region $AWS_REGION \
        | docker login --username AWS --password-stdin ${{ secrets.ECR_REGISTRY }}

    - name: Build & Push Auth Service
      run: |
        docker build -t auth-service ./auth-service
        docker tag auth-service:latest ${{ secrets.ECR_AUTH_IMAGE }}:latest
        docker push ${{ secrets.ECR_AUTH_IMAGE }}:latest

    - name: Build & Push User Service
      run: |
        docker build -t user-service ./user-service
        docker tag user-service:latest ${{ secrets.ECR_USER_IMAGE }}:latest
        docker push ${{ secrets.ECR_USER_IMAGE }}:latest

    - name: Deploy to EKS
      run: |
        aws eks update-kubeconfig --region $AWS_REGION --name saas-devops-cluster
        kubectl apply -f k8s/

