name: Deploy to EKS

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure AWS
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Login to ECR
      run: |
        aws ecr get-login-password --region $AWS_REGION \
        | docker login --username AWS --password-stdin ${{ secrets.ECR_AUTH_URI }}

    - name: Build & Push Auth Service
      run: |
        docker build -t auth-service ./auth-service
        docker tag auth-service:latest ${{ secrets.ECR_AUTH_URI }}:latest
        docker push ${{ secrets.ECR_AUTH_URI }}:latest

    - name: Deploy to EKS
      run: |
        kubectl apply -f k8s/

